.modal-header
    h3.modal-title Edit Group
.modal-body
    .alert.alert-danger(ng-show='error' ng-bind='error')
    fieldset(ng-disabled='disableModal')
        form.form-horizontal(ng-submit='editGroup()')
            .form-group
                label.col-xs-3.control-label Name:
                .col-xs-9
                    input.form-control(type='text' ng-model='editingGroup.name' placeholder='Group Name' autofocus)
            .form-group
                label.col-xs-3.control-label Description:
                .col-xs-9
                    textarea.form-control(rows='5' ng-model='editingGroup.description' placeholder='Group Description')
            .form-group
                label.col-xs-3.control-label Color:
                .col-xs-9
                    color-picker(
                        ng-model='editingGroup.colour'
                        color-picker-format="'hex'"
                        color-picker-alpha="false"
                        color-picker-swatch-only="true"
                        color-picker-pos="'bottom left'"
                        color-picker-swatch-bootstrap="true"
                    )
            .form-group
                .col-xs-offset-3.col-xs-9
                    button.btn.btn-primary(type='submit') Edit Group
.modal-footer
    fieldset(ng-disabled='disableModal')
        button.btn.btn-warning(type='button' ng-click='cancel()') Cancel
